.bundle
db/*.sqlite3
log/*.log
tmp/
config/environment.rb

.project
config/database.yml
public/
public/system/*

db/schema.rb

.idea/
public/.htaccess
public/dispatch.fcgi
rails_best_practices_output.html
public/ckeditor_assets/*
config/database.yml
db/
