<% title "Kiris Blog | New Article" %>
<div class="list" id="admintable">
  <table width="40%">
    <tbody><tr><td align="left"><h3 align="left">New Article</h3></td>

    </tr>
    </tbody>
  </table>
</div>

<%= render 'form' %>

<%= link_to 'Back', admin_articles_path %>
