<div class="panel">
  <div class="caption">Snapshot </div>
  <div id="recently">
    <li class="">
      <dt>
        <%= @articles_count %>
      </dt>
      <tt>
        <a href="#">Total Articles</a>:
      </tt>
    </li>
    <li class="">
      <dt>
        <%= @users_count %>
      </dt>
      <tt>
        <a href="#">Total Users</a>:
      </tt>
    </li>

  </div>
</div>