<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>A mail from <%= @enquiry.email %> </h3>

    <p>Name:
      <%= @enquiry.name%>
    </p>
    <p>Subject:
      <%= @enquiry.subject%>
    </p>
    <p>Description:
     <%= @enquiry.description%>
      
    </p>
  </body>
</html>
