<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello Kiran  </h3>
    <p>Email:<br/>
      <%= @enquiry.email%>
    </p>
    <p>Description: <br/>
     <%= @enquiry.description%>
      
    </p>
  </body>
</html>
