<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>A mail from @enquiry.email </h3>

    <p>Name:<br/>
      <%= @enquiry.name%>
    </p>
    <p>Subject:<br/>
      <%= @enquiry.subject%>
    </p>
    <p>Description: <br/>
     <%= @enquiry.description%>
      
    </p>
  </body>
</html>
