 <% cache ("footer") do %>
<div id="footer">
    Powered by <a href="http://www.indigenius.com/" onclick="window.open(this.href);return false;">
    <b>Indigenius Solutions</b></a>
    © 2010-2011    
</div>
<% end %>
