<% title "Kiris Blog | About me" %>
<div class="post" style="padding-top: 57px; width: auto;">
  <div class="entry">
    <h2 class="title" style="color: #4CC417">About Kiris Blog</h2><br/>

   <p> This Kiris Blog is exclusively for the developers, beginners or learners working on Ruby on Rails irrespective of their Rails versions.
    In our daily life,  we often come accross some problems while programming, newly added concepts, versions, gems, plug-ins, etc; in Ruby on Rails. Some are solved quickly and some are time taking.
    My main aim of creating this Kiris Blog is to provide the best way of solutions to eradicate such problems.
    Hope my language will be simple, clear and easy to understand.</p>
  </div>

  <div class="entry">
    <h2 class="title" style="color: #4CC417">About Me</h2><br/>
     <p style="clear: left;"> This is Kiran Kumar Karnati, a Ruby on Rails developer, <!-- <img src="/images/kiran.JPG" alt="" width="300px" height="200px;" align="right" style="margin: 1px 0px 0px 10px;">-->  with more than 2.5 years of experience. I am currently working for IndiGenius IT Solutions Pvt Ltd , Hyderabad  , as a Ruby Developer.
As we know that, searching for the solutions through googling and some huge documentations is a very high time taking task because we don't know which one suites us the best.
</p> <p>    &nbsp; &nbsp;  So, based on my experience and problems that i faced from starting of my career to till now, i decided to contribute some solutions and share my experience and newly added concepts, gems, plug-ins, demo apps and many more to you and rails buddies, through my little site.</p>



  </div>
</div>
<br/><br/><br/><br/> <br/><br/><br/>