<div class="post" style="padding-top: 57px;">
<div class="entry">
  <h2 class="title" style="color: #0066CC">About Me</h2><br/>
<p>Hello to all ,  <br/>
   &nbsp;&nbsp;&nbsp;&nbsp;This is kiran kumar, a ruby on rails developer from Hyderabad, working on this platform for more than 2 years, In this blog i want to share my experience and newly added concepts, gems, plug-ins, demo apps and many more.
   I am presently working for Indigenius Solutions Pvt Ltd as a RoR developer.
</p></div></div><br/><br/><br/><br/>
