
    <!-- begin home boxes -->
    <div class="homeBox boxgreen">
      <h2>Ruby on Rails</h2>
      <p></p>
      <p class="whiteText">Ruby on Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity. It lets you write beautiful code by favoring convention over configuration. Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.
        Powerful web applications that formerly might have taken weeks or months
        to develop can be produced in a matter of days.</p>
      <p></p>

    </div>
    <div class="homeBox boxorange">
      <h2>Jquery</h2>
      <span ><p class="whiteText">
        jQuery is a cross-browser JavaScript library designed to simplify the client-side scripting of HTML. It was released in January 2006 at BarCamp NYC by John Resig.

        jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. jQuery is designed to change the way that you write JavaScript. </p></span>

    </div>
    <div class="homeBox boxred last">
      <h2>Loreum Ipsum</h2>

      <p class="whiteText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in odio non neque mattis lacinia vitae ut urna. Nam rhoncus mollis dapibus. Mauris vitae semper nunc. Vivamus fringilla tincidunt arcu, non pretium nibh volutpat ullamcorper. Nullam tincidunt luctus magna et porta. Praesent a nisl vel urna laoreet aliquet. Pellentesque porttitor sapien ac nulla pellentesque facilisis. </p>
      <p></p>
    </div>
    <!-- end home boxes -->



    <!-- END HOME CONTENT -->

