<!--
 <h2>Leave a Reply</h2>
  <%#= form_for @comment, :url=> {:controller => "home", :action => "create"}, :validate=> true do |f| %>
  Name: <%#= f.text_field :name %> <%#= f.error_message_on :name %> <br/>
  Email: <%#= f.text_field :email %><%#= f.error_message_on :email %><br/>
  Website : <%#= f.text_field :website %><%#= f.error_message_on :website %><br/>
  Description : <%#= f.text_field :description %><%#= f.error_message_on :description %><br/>
      <%#= f.submit %>
  <%# end %>

-->






