<ul>
      <li class="active"><a href="#" accesskey="1" title="">Tab1</a></li>
      <li><a href="#" accesskey="2" title="">Tab2</a></li>
      <li><a href="#" accesskey="3" title="">Tab3</a></li>
      <li><a href="#" accesskey="4" title="">Tab4</a></li>
</ul>