<ul>
      <li class="active"><a href="#" accesskey="1" title="">Home</a></li>
  <li><%= link_to "Flash Games",flash_games_home_index_path %></li>
      <li><a href="#" accesskey="2" title="">Contact us</a></li>
    
</ul>
